<div>
        <fieldset class="user-credentials">
            <label> Login
                <input #login type="text" placeholder="Login" required>
            </label>

            <label> Password
                <input #password type="password" placeholder="Password" required>
            </label>
            <input (click)="onSignInClick(login.value, password.value)" type="button" value="Sign in">
            <input (click)="onSignUpClick(login.value, password.value)" type="button" value="Sign Up">
        </fieldset>
</div>