<section class="container">

    <div class="head-container">
        <h2 class="col-3-4">{{title}}</h2>
        <button class="btn btn-select" [hidden]="!userHasWritePermission()"
                (click)="addLesson()">Add lesson</button>
    </div>

    <div class="centered" *ngIf="selectedLesson">
        <fieldset class="form-info update-form">

            <p [hidden]="!errorMsg" class="error-text">{{errorMsg}}</p>

            <label> Title
                <input #title type="text" [value]="selectedLesson.title" placeholder="Title" required>
            </label>

            <label> Description
                <input #description type="text" [value]="selectedLesson.description" placeholder="Description" required>
            </label>
            <button class="btn btn-select" (click)="onUpdateLesson(title.value, description.value)">Update</button>
        </fieldset>
    </div>


    <div>
        <ul class="lessons">
            <li *ngFor="let lesson of lessons">
                <div class="lesson-item-container">
                    <div class="lesson-meta-container">

                        <img class="lesson-logo" src="../../assets/images/front-end-logo.png">
                        <div class="lesson-head-info">
                            <h2>{{lesson.title}}</h2>
                            <h4 class="author-hint">Author: {{lesson.author.name}}</h4>
                        </div>
                    </div>

                    <div style="padding: 10px">
                        <button [hidden]="!userHasWritePermission()" class="btn btn-select" (click)="onSelect(lesson)">Update lesson</button>
                        <button [hidden]="!userHasWritePermission()" class="btn btn-select" (click)="onDelete(lesson)">Delete lesson</button>
                    </div>
                </div>

                <h3 class="lesson-description">{{lesson.description}}</h3>
            </li>
        </ul>
    </div>
</section>
